<div class="row">
  <div class="col-sm-12">
    <h3>Edit Movie</h3>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-sm-12">
    <%= render 'form', { url: movie_path(@movie), mthd: :patch } %>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-sm-12">
    <%= link_to 'Back to Movies', movies_path, :class => 'btn btn-default' %>
  </div>
</div>
